<header class="typewriter">
  <div class="header-content">
    <fa-icon id="back" title="homepage" [icon]="arrowLeft" [routerLink]="['/homepage']" routerLinkActive="router-link-active" ></fa-icon>
    <h1>The <span>MARVEL</span> Comics API</h1>
  </div>

  <div id="search-content">
    <form [formGroup]="searchForm" (ngSubmit)="getCharacters()">
      <input
        type="text"
        placeholder="search for a hero..."
        formControlName="search"
      />
      <button type="submit" [disabled]="searchForm.invalid">search</button>
    </form>
  </div>
</header>
