.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  max-width: 950px;
  margin: 0 auto;
  padding: 0 30px;
}

.container section.marvel-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container section.marvel-infos img {
  width: 100%;
  max-width: 300px;
  height: 300px;
}

.container section.marvel-infos button {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 18px;
  background: rgb(236, 29, 36);
  color: #FFF;
  font-size: 16px;
  transition: opacity 0.5s;
}

.container section.marvel-infos button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container img {
  max-width: 500px;
  height: 90vh;
}
